<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue3.js"></script>
</head>

<body>
    <div id="app">
    </div>

    <template id="my-app">
        <ul>
            <template v-for="(value,key) in movies">
                <li>{{key}}</li>
                <li>{{value}}</li>
                <hr>
            </template>
        </ul>
        <input type="text" v-model="newMovie">
        <button @click="addMovie">添加电影</button>
        <!-- 数组更新检测 -->
        <h3>下面列出被Vue侦听的函数操作API</h3>
        <ul>
            <li v-for="item in arrayApis">{{item}}</li>
        </ul>
        <h3>还有一些返回新数组的api</h3>
        <p>该类方法不会对原来的数组进行修改,而是会返回一个新数组</p>
        <ul>
            <li v-for="item in arrayReApis">{{item}}</li>
        </ul>
    </template>

    <script>
        const App = {
            template: `#my-app`,
            data() {
                return {
                    newMovie: "",
                    movies: [
                        "你的名字",
                        "千与千寻",
                        "言叶之庭",
                        "天气之子",
                        "惡鬼滅殺"
                    ],
                    arrayApis: [
                        "push()",
                        "pop()",
                        "shift()",
                        "unshift()",
                        "splice()",
                        "sort()",
                        "reverse()"
                    ],
                    arrayReApis: [
                        "filter()",
                        "concat()",
                        "slice()"
                    ]
                }
            },
            methods: {
                addMovie() {
                    this.movies.push(this.newMovie)
                    this.newMovie = ""
                }
            },
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>